@import url("./root.css");
@import url("./cards.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
.h-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.h-tittle{
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
}

.container-exp {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.logo {
    padding: 10px;
    display: flex;
    align-self: flex-start;
}
.space{
    display: flex;
}

.logo-text {
    padding-top: 5px;
    margin-top: 5px;
    text-align: left;
}
.default-menu{
    display: flex;
    align-self: flex-end;
}

.logo-text a {
    text-decoration: none;
    color: #28282B;
}

.unstyled {
    list-style: none;
}

.menu-social-group {
    display: flex;
    flex-direction: column;
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 15px;
    margin: 5px;
}

.menu-item {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    align-self: stretch;
}

.menu-item a{
    display: block;
	position: relative;
	padding: 0.2em 0;
}


/* Fade in */
.menu-item a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #8d62ab;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.menu-item a:hover::after,
.menu-item a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.menu-item a {
	overflow: hidden;
}

.menu-item a::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.menu-item a:hover::after,
.menu-item a:focus::after{
	transform: translate3d(0, 0, 0);
}

.menu-item a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.menu-item a:hover::after,
.menu-item a:focus::after {
    transform: scale(1);
}

.social-item {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 5px;
}

.menu-list a {
    text-decoration: none;
    color: #28282B;
    font-size: large;
}

.social {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.social ul {
    display: flex;
    flex-direction: row;
}

.social-icon {
    width: 20px;
    height: 20px;
    color: #28282B;
    overflow: visible;
}

.social-button {
    display: flex;
    vertical-align: middle;
    padding-top: 12px;
    margin-left: 5px;
}

.social-button a {
    text-decoration: none;
    color: #28282B;
}

.social-item-link {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.body-navigation {
    display: flex;
    flex-direction: column;
}
.about{
    padding: 10px;
}
.about p{
    font-size: 14pt;
    color: var(--varyDarkBlue);
    text-align: justify;
}
.content {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.cv_read{
    align-self: flex-end;
    margin: 20px;
    background-color: #8d62ab;
    border: none;
    padding: 10px;
    border-radius: 15px;
    transition: filter .5s;
}
.cv_read a{
    text-decoration: none;
    color: aliceblue;
}
.cv_read:hover{
    filter: brightness(80%);
}